*{
  margin: 0;
  padding: 0;
}
.body{
  background-color: #302f32;
}
.header{
  background-image: url("../images/barra.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* sidebar / carrito */

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.carrito{
  color: white;
}
.carrito-h6{
  display: inline;
  margin-bottom: 0 20px 15px;
}
.sidebar h2{
  color: white;
  padding: 20px;
  margin: 0;
  background-color: #302f32;
}
.precio-total{
  font-size: 1.7rem;
  color: white;
  margin: 1.3rem 0;
}
.producto__tabla{
  display: flex;
  align-items: center;
}
.producto__notif{
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

}
.carrito__producto{
  margin:  0;
  border-style: solid;
  border-inline-style: none;
  border-width: 1px;
}
a.closebtn {
  color: grey;
  text-decoration: none;
}
a.closebtn:hover {
  text-decoration: none;
  color: white;
}
.botones{
  margin: 20px;
}
.carrito-img{
  margin-right: 20px;
  height: 100px;
  width: 60px;
}
.delete{

  margin: auto;

}
a.delete:hover {
  text-decoration: none;
  color: red;
}
#icon:hover{
  border: 2px solid;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.btnCarrito{
  position: fixed;
  z-index: 1000;
  top: 10px;
  right: 10px;
  background-color: transparent;

}

.animacion{
  display: flex;
  position: fixed;
  width: 400px;
  z-index: 1000;
  background-color: springgreen;
  bottom: 10%;
  right: -45%;
  border: 3px #262d28;
  border-style: solid;
}
.sabores{
  transform: rotate(360deg);
  transition: 2s;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  border: none;
}

.cleanbtn{
  color: white;
}

#main {
  transition: margin-left .5s;
}
.logo{
  background-color: rgb(48, 47, 50);
  display: flex;
  margin: 2em
}
.formularios{
  display: flex;
  margin-left: 5%;
  width: 100%;
}
.myform{
  display: flex;
  flex-direction: column;
  color: white;
  width: 50%;
}
.sabores{
  z-index: 1000;
}
.not-found{
  background-color: rgba(119, 130, 130, 0.66);
  margin: 15%;
  padding: 5%;
  opacity: 0.8;
  text-align: center;
}
label{
  color: white;
}
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 25px;}

}
